* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
    min-height: 100vh;
}
.slogan {
    color: blue;
    font-size: 3rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.ayuda {
    color: rgb(218, 148, 63);
    font-size: 3rem;
    font-weight: bold;
    margin-left: 35%;
    margin-bottom: 5rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.contenedor_ayuda {
    display: flex;
}
.busqueda__ayuda {
    align-items: center !important;
    margin-left: 200px;
    margin-right: 200px;
    width: 700 px;
    height: 4rem;
    font-size: xx-large;
    border-color: sienna;
}
.boton__ayuda {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: xx-large;
    background-color: yellow;
    color: blue;
}

@media (max-width: 600px) {
    .slogan{
        font-size: 1.8rem;
    }
    .como_funciona{
        font-size: 1rem;
        color: navy;
    }
    .ayuda{
        font-size: 1.3rem;
        margin-left: 20px;
        text-align: center;
    }
    .d-flex{
        margin-left: -250px;
        flex-direction: column;
        align-items: center;
    }
    .busqueda__ayuda{
        margin-left: 120px;
        height: 40px;
        width:180px; 
        font-size: 1rem;
    }
    .boton__ayuda{
        height: 40px;
        font-size: 1rem;
    }
    .btn-primary{
        width: 100%;
        height: 40px ;
        font-size: 0.8rem;
    }