/* ACA PONGO TODOS LOS ESTILOS DE MI SITIO*/

*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: crimson;
    color: radial-gradient(circle, rgba(222,237,178,1) 0%, rgba(19,14,16,0.969625350140056) 100%);
}

.navbar{
    background-color: cornflowerblue;
}

.nav-search-input{
    width: 30%;
    height: 50%;
}

#titulo-principal{
    font-size: 50px;
    text-align: center;
    background:  radial-gradient(circle, rgba(222,237,178,1) 0%, rgba(186,41,80,0.9556197478991597) 100%);;
    
}

p{
    color:black;
}